@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: url('./img/code.png');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 90% -25%;
} */